<% content_for :head do %>
  <title>Resolutions2015</title>
  <meta property="og:site_name" content="Resolutions2015" />
  <meta property="og:image" content="<%= asset_url('road.jpg')%>" />
  <meta property="og:title" content="Resolutions2015: Make Resolutions for new year" />
  <meta property="og:url" content="http://resolutions2015.com" />
  <meta property="og:description" content="Resolutions 2015 is a platform to make new year resolutions, share them with friends through various social media channels and we help you in following these resolutions." />
  <meta property="fb:app_id" content="425078167639341" />

<% end %>

<div class="home-page-pic container-fluid">
<%= render partial: "layouts/header" %>
  <div class="row">
    <div class="" >
      <p>Make New Year Resolutions, Share And Keep On Track</p>
    </div>
  </div>

<div class="primary">
  <a href="/auth/facebook"><button class="btn" style="background-color: transparent"><%=image_tag("login-facebook.png", style:"width: 50%") %></button></a>

</div>
</div>
