// Place all the styles related to the resolutions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.make-resolution{
	width: auto;
	height: 700px;
	position: relative;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: asset_url('beach.jpg'); 
	text-align:center;
	font-family: "Raleway","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.resolution-form{
	background-image: asset_url('food.png');
}