<footer>
	<div class="container-fluid footer">
		<div class="row">
			<div class="col-md-4">
				<h5>Follow Us</h5>
				<a href="https://facebook.com/resolutions2015com" target="_blank"><%=image_tag("fb.png") %></a>
				<a href="https://twitter.com/resolutions2k15" target="_blank"><%=image_tag("twitter.png") %></a>
				<a href="https://resolutions2015.tumblr.com/" target="_blank"><%=image_tag("tumblr.png") %></a>
			</div>
			<div class="col-md-4">
				<h5>No Copyrights!</h5>
			</div>
			<div class="col-md-4">
				<h5>Made at <a href="http://jaaga.in/study" style="color: white" target="_blank">Jaaga</a></h5>
				<h5>By <a href="http://themvpguys.com" style="color: white" target="_blank">TheMVPGuys</a></h5>
			</div>
		</div>
	</div>
</footer>